header {
  top: 0;
  left: 0;
  z-index: 100;
position: absolute;
width: 1403px;
height: 5px;

background: #FFE353;

}
/* Rectangle 1 */

header nav a {
  color: white;
  text-decoration: none;
  margin-left: 1.5rem;
  font-weight: 500;
}

header nav a:hover {
  color: #f39c12; /* accent color */
}
