.movies-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
  padding: 6rem 2rem 2rem 2rem; /* top padding to avoid header overlap */
}

.movie-card {
  background-color: #ffffff;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  text-align: center;
  flex-direction: column;
}

.movie-card button {
  background-color: #f39c12;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin: 1rem;
  border-radius: 8px;
  cursor: pointer;
}

.movie-card img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.movie-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

.movie-card h3 {
  padding: 0.5rem 1rem;
  color: rgb(0, 0, 0);
}
.pagination {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
.pagination button {
  background-color: #f39c12;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border-radius: 8px;
  cursor: pointer;
}